* {
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  display: flex;
}
.sidebar-container {
  width: 300px;
  background-color: #252525;
  color: #fff;
  padding: 10px;
}
.memo-details-container {
  flex-grow: 1;
}
